/* reset */
a {
    color: inherit;
    text-decoration: none;
}
button, input {
    outline: none;
    border: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}