/* reset */
a {
    color: inherit;
    text-decoration: none;
}
button, input {
    outline: none;
    border: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

header {
    background: orange;
    width: 100%;
    height: 70px;
    line-height: 100px;

}

header .inner-header {
    width: 60%;
    margin: 0 auto;
}

header .inner-header .logo {
    float: left;
}

header .inner-header .search{
    float: left;
}

header .inner-header .top-menu {
    float: right;
}

header .inner-header #wrap-download {
    float: right;
}

header .inner-header .chat {
    float: right;
}